<footer>
    <div class="fixed-bottom nav-styles">
        <a class="fab fa-facebook-square fa-lg foot-icon" href="https://www.facebook.com/Notchup.co"></a>
        <a class="fab fa-twitter-square fa-lg foot-icon" href="https://twitter.com/notchupindia?"></a>
        <a class="fab fa-youtube-square fa-lg foot-icon"
            href="https://www.youtube.com/channel/UCd5-3Y7wqCCwITwQ7-2zB4g"></a>
        <a class="fab fa-instagram-square fa-lg foot-icon" href="https://www.instagram.com/notchup.co/"></a>
        <h6>&copy; NotchUp</h6>
    </div>
</footer>

<!-- script-tags -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
    integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
    crossorigin="anonymous"></script>
</body>

</html>