<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Trail | NotchUp</title>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png" />

    <!-- fontsheet -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap" rel="stylesheet" />

    <!-- stylesheet and icons-sheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="index.css" />
</head>

<body>
    <div class="bg"></div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggler fixed-top nav-styles">
            <a class="navbar-brand" href="https://www.notchup.co/">
                <img src="images/logo.png" width="60" height="60" alt="NotchUp-brand-home" loading="lazy" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#form-navbar"
                aria-controls="form-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="form-navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.notchup.co/coding">Online Coding</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.notchup.co/communication-skills">Communication</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.notchup.co/about-us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.notchup.co/blog">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.notchup.co/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>