<%- include("header") -%>

<section>
    <div class="form-div container nav-styles">
        <h2>ThankYou For Registering!</h2>
        <p>Expect a CallBack soon!</p>
        <h5>
            For more info - <a href="https://www.notchup.co/">NotchUp</a>
            <span class="vl"></span>
            To register again - <a href="/">Trial-Form</a>
        </h5>
    </div>
</section>

<%- include("footer") -%>